.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 550px);
}
