@font-face {
	font-family: 'Inter-Medium';
	src:
		url('../fonts/Inter-Medium.woff2') format('woff2'),
		url('../fonts/Inter-Medium.woff') format('woff'),
}

@font-face {
  font-family: 'SF-Pro-Display-Medium';
	src:
		url('../fonts/SF-Pro-Display-Medium.woff2') format('woff2'),
		url('../fonts/SF-Pro-Display-Medium.woff') format('woff'),
}

@font-face {
	font-family: 'SF-Pro-Display-Regular';
	src:
		url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
		url('../fonts/SF-Pro-Display-Regular.woff') format('woff'),
}

@font-face {
	font-family: 'SF-Pro-Display-Semibold';
	src:
		url('../fonts/SF-Pro-Display-Semibold.woff2') format('woff2'),
		url('../fonts/SF-Pro-Display-Semibold.woff') format('woff'),
}

@font-face {
	font-family: 'SF-UI-Display-Medium';
	src:
		url('../fonts/SF-UI-Display-Medium.woff2') format('woff2'),
		url('../fonts/SF-UI-Display-Medium.woff') format('woff'),
}